#body, .font, .counter{
    background-color: lavender;
    font: rgb(147, 147, 147);
    margin: center;
    margin: auto;
    margin-top: 40px;
    border: 20px;
    padding: 30px;
    text-align: center;
    border: dotted;
    border-radius:20%;
    width: 20%;
    height: 20%;
}

.font {
    font-family: cursive;
    font: rgb(147, 147, 147);
    font-style: initial;
}